doctype html

head
  title mona -> yuanmo
  link(href = 'app.css')

body

  .btn Click

  input.file(
    accept = 'application/json'
    type = 'file'
  )

  .footer
    a(
      href = 'https://github.com/phonowell/mona2yuanmo'
      target = '_blank'
    ) GitHub
    p Copyright © 2021-2022, Mimiko.

  script(src = 'resize.js')
  script(src = 'app.js')